
:root{
  --primary-color: aliceblue;
  --secondary-color: black;
  --form-background:rgba(0, 0, 0, 0.233);
  --title-color: #0067e6;
}

  [data-theme="dark"] {
    --primary-color: black;
    --secondary-color: white;
    --title-color: #fec150;
  }

.heading{
    color: var(--title-color);
}

body{
  background-color: var(--primary-color);
  color: var(--secondary-color) ;
}
.fieldset_div{
  background-color: var(--form-background);
  color: var(--secondary-color);
  border-radius: 5mm;
  padding-bottom: 5mm;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: var(--primary-color);
  color: var(--secondary-color);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#upload_btn{
  background-color: rgb(106, 216, 250);
}

button {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
 animation: swing 1s ease;
 animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}