    
    /* TOGGLE  */
  .theme-switch-wrapper {
  display: flex;
  align-items: center;
  }
  
  .theme-switch-wrapper {
  margin-left: 1px;
  font-size: 1rem;
  }
  
  .theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 60px;
  }
  
  .theme-switch input {
  display: none;
  }
  
  .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 24px;
  }
  
  .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 8px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
  border-radius: 50%;
  }
  
  input:checked + .slider {
  background-color: #fec150;
  }
  
  input:checked + .slider:before {
  transform: translateX(22px);
  }
  
  .slider svg {
  color: #222;
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
  }
  
  .feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 4px;
  transform: translateX(4px);
  }
  
  .feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 5px;
  transform: translateX(0px);
  }
  
  input:checked + .slider .feather-moon {
  opacity: 1;
  transform: translateX(0);
  }
  
  input:checked + .slider .feather-sun {
  opacity: 0;
  transform: translateX(-4px);
  }
  
  