.map-container-2{
overflow:hidden !important;
padding-bottom:56.25% !important;
position:relative !important;
height:0 !important;
}
.map-container-2 iframe{
left:0 !important;
top:0 !important;
height:100% !important;
width:100% !important;
position:absolute !important;
}
.card {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #ab8989 !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
}
div#founder_details iframe{
    padding-bottom: 5mm;
    padding-left: 5mm;
}
:root{
  --primary-color: aliceblue;
  --secondary-color: black;
  --form-background:rgba(0, 0, 0, 0.233);
  --title-color: #0067e6;
  
  --border-cursor-color : rgba(255,255,255,.75);
}

  [data-theme="dark"] {
    --primary-color: black;
    --secondary-color: white;
    --title-color: #fec150;
  }

.h2{
    color: var(--title-color);
}
.index_body{
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* ANIMATION */


.card,.text-center,#map-container-google-11,.heading,.embed-responsive,.founder_video,.founder_info,#carouselExampleIndicators,#founder {

  white-space: nowrap;
  overflow: hidden;    
  text-align: justify;

}


.heading,.embed-responsive,.founder_video,.founder_info,#carouselExampleIndicators {
  animation: animated-heading 1s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;

}

/* heading animation */

@keyframes animated-heading{
  from{max-height: 0;text-align: justify;visibility: hidden;}
  to{max-height: 1000px;text-align: justify;visibility: visible;}
}

/* Animation */
.card,.text-center,#map-container-google-11  {
  animation: animated-text 1s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
  position: sticky;
}



/* text animation */

@keyframes animated-text{
  from{max-width: 0;text-align: justify;visibility: hidden;}
  to{max-width: 100%;text-align: justify;visibility: visible;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: var(--border-cursor-color); }
  to{border-right-color: transparent;}
}
